:root {
    --bs-primary:#FF7E0B;
    --bs-primary-rgb: 171, 137, 101;
    --bs-dark: #181818;
    --bs-font:'Inter';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter';
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* topbar */
.top-bar ul li i:hover , .pro a:hover{
    color: var(--bs-primary);
}
/* navbar */
.nav-logo img {
    height:20px;
}
.dropdown-toggle::after {
    content: '\F282';
    border: 0;
    font-family: bootstrap-icons !important;
    font-size: 10px;
    line-height: 15px;
}
.navbar-nav .nav-item li a:hover , .nav-item .nav-link:hover{
    color: var(--bs-primary);
    text-decoration: underline;
}
.carousel-item button:hover{
    background-color:#333333;
    color: white;
    border: none;
}
.btn-group .btn-outline-primary {
    background-color: transparent;
    color: black;
    font-weight:600;
    border-color:#bababa;
}
.btn-group .btn-outline-primary:hover{
    border-color: #bababa;
    color: var(--bs-primary);
}
.btn-explore , .btn-buy {
    background-color: var(--bs-primary);
    padding: 13px 20px;
    color: white;
    font-weight:600;
    border-color: var(--bs-primary);
}
.btn-explore:hover{
    background-color:#333333;
    color: white;
}
.btn-buy:hover{
    background-color:transparent;
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.ca-btn a{
    text-decoration:underline;
    color: #a4a4a4;
    font-size:20px;
    font-weight: 600;
}
.ca-btn a:hover{
    color: var(--bs-primary);
    text-decoration: underline;
}
.line{
    width: 98%;
    height: 1px;
    background-color: #edecec;
    margin-bottom:10px;
}
.pro a{
    color:#2b2b2b;
}
.circle{
    width:78px;
    height:78px;
    border-radius:50%;
    border:1px solid #edecec;
    padding:22px;
}
.offer:hover .circle{
    background-color: var(--bs-primary);
}
